{% extends 'basic.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
        <section id="one">
        <header class="major">
            <h2>{{ post.title }}</h2>
            <h3>{{ post.sub_title }}</h3>
            <h5>{{ post.get_category_display }}</h5>
            <img src="{{ post.image_post.url }}" class="image fit " />
        </header>
        <p> {{ post.content }}</p>
        <ul class="actions">
            <li><a href="{% url 'home_url' %}" class="button">Home</a></li>
        </ul>
    </section>
{% endblock %}